.block {
    background-image: url("https://i.pinimg.com/736x/79/fd/d1/79fdd17253b569a417e980a99aecd978.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 5px #000;
}
 input {
    background: linear-gradient(90deg, #15ff00, #fff700, #ff2f00);
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px #000;
    font-family: Khmer OS Muol;
    margin-bottom: 0;
    margin-top: 0;
    border-color: #000;
    border: 1.5px dotted #060006;
    outline: none;
    color: rgb(255, 0, 51);
    font-weight: bold;
    transition: 0.3s;
 }

 input:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px #11ff00;
}


.block button {
    margin-bottom: 10px;
    color: white;
    font-family: Khmer OS Muol;
    margin-top: 0;
    margin-bottom: 3px;
    width: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 2px #000;
     -webkit-text-stroke: 0.5px #550071;
     transition: 0.3s ease;
    background: linear-gradient(90deg, #2724ff, #ea00ff);
}

button:hover {
    transform: translateY(-2px);
}

#text {
    background: linear-gradient(90deg, #fa3030, #ffff00);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #000;
    font-family: Khmer OS Muol;
    color: white;
    -webkit-text-stroke: 0.5px #000000;
    transition: 0.3s;
}
#text:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 10px #11ff00;
    background: linear-gradient(90deg, #ff3700, #99ff00);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6fffc;
}